body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header, footer {
  background-color: #333;
  color: white;
  padding: 1em;
  text-align: center;
}

main {
  flex: auto;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

article {
  flex: 2;
  padding: 1em;
  overflow-y: auto;
}

aside {
  flex: 1;
  background-color: #f4f4f4;
  padding: 1em;
  overflow-y: auto;
}

footer {
  margin-top: auto;
}
