body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex: auto;
}

article {
  flex: 2;
  overflow-y: auto;
}

aside {
  flex: 1;
  overflow-y: auto;
}

/* Additional optional styling */
header h1, article h2, aside h2 {
  margin: 0;
}

.logo {
  font-size: 2em;
  font-weight: bold;
}
